<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69e366">  <td>21/05/14 09:22:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Jira_010.startDriver()[pri:0, instance:com.mmtrip.testcases.Jira_010@16a0ee18]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@227755469</td>   <td></td> </tr>
<tr bgcolor="69e366">  <td>21/05/14 09:22:10</td>   <td>2142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Jira_010.baseNavigation()[pri:0, instance:com.mmtrip.testcases.Jira_010@16a0ee18]">baseNavigation</td> 
  <td>main@227755469</td>   <td></td> </tr>
</table>
